<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <allowedServerVariables>
                <add name="HTTP_CONTENT_LENGTH" />
                <add name="HTTP_X_BABLIC_ID"/>
                <add name="HTTP_X_ORIGINAL_URI"/>
                <add name="HTTP_ACCEPT_ENCODING" />
            </allowedServerVariables>
            <rules>
                <rule name="IsBOT" stopProcessing="true">
                    <match url="(.*)" />
                    <serverVariables>
                        <set name="HTTP_CONTENT_LENGTH" value="0"/>
                        <set name="HTTP_X_BABLIC_ID" value="[ Bablic site ID ]"/>
                        <set name="HTTP_X_ORIGINAL_URI" value="{CACHE_URL}"/>
                        <set name="HTTP_ACCEPT_ENCODING" value=""/>
                    </serverVariables>
                    <conditions>
                        <add input="{HTTP_USER_AGENT}" pattern="bot|crawler|baiduspider|facebookexternalhit|Twitterbot|80legs|mediapartners-google|adsbot-google"/>
                    </conditions>
                    <action type="Rewrite" url="http://seo.bablic.com/api/engine/seo?site=[ Bablic site ID ]#"  /> 
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
